
          *{

            margin: 0px;
  
            padding: 0px;
  
             }
  
  
          bootstrap-responsive.css
          bootstrap-responsive.min.css
  
  
        
        .textoBienvenida {
               color: #000000;
               
               font-family: 'Dancing Script', cursive;
               font-family: 'Roboto', sans-serif;
        }       
  
         
        #header{
          background-color: #F9F8FC;
        }
   
    
  
      #logo1{
        margin: auto;
        height: 350px;
        width: 350px;
      
      }


      nav{
        width: 100%;
        display: flex;
        background: #000;
      }
      nav ul{
         display: flex;
         list-style:none;
         margin: 0 auto;
         padding: 0;
      }
      
      nav li{
        text-transform: uppercase;
      }
      
      nav a{
        text-decoration: none;
        color: #fff;
      }
      
      nav ul li a{
        display: block;
        padding: 20px 20px;
        position: relative;
        transition: color .30s;
      }
      
      nav ul li a:before{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        left: 0;
        bottom: 0;
        background:pink; 
        transition: width .30s;
      } 
      
      nav ul li a:hover{
         color: pink;
      }
      
      nav ul li a:hover:before{
        content: '';
        width: 100%;
      }
      
      @media (max-width: 768px){
        nav ul{
          display: flex;
          flex-direction: column;  
          justify-content:center;
        }
        
        nav ul li a{
          display: flex;
          justify-content: center;
        }
        
        nav ul li a:before{
          right: 0;
          left: 0;
          bottom: 0;
        }
      }
       

   .featurette-heading {
    margin-left: 5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
   }


   .button:hover {
   	background-color: white;
     color: black;
     border: 2px solid #555555;
   	padding: 10px 24px;
   	border-radius: 4px;
   }


   .button:active {
  background-color: #7a7978;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.container {
  position: relative;
  width: 80%
}

.image {
  display: block;
  width: 80%;
  height: auto;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


section {
  width: 100%;
  display: inline-block;
  background: white;
  /*height: 50vh;*/
  /*text-align: center;*/
  font-size: 22px;
  font-weight: 700;
  font-family: roboto;
  /*text-decoration: underline;*/
}

.address-button {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #777;
  cursor: pointer;
  overflow: hidden;
}

.address-info {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  
  font-family: "Montserrat";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 60px;
  text-align: center;
  
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media(max-width: 800px) {
  .address-info {
    font-size: 8px;
    letter-spacing: 2px;
  }
}
.address-title {
  color: #fff;
}

.address-hover {
  color: #000;
}

.button-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
  
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.address-hover {
  opacity: 0;
}

.address-button:hover .address-hover {
  opacity: 1;
}

.address-button:hover .address-title {
  opacity: 0;
}

.address-button:hover .button-inner {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
}


.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.Grid-cell {
  
  position: relative;

  /*Display y Box Model*/
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Grid--cols-1 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-2 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-3 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-4 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-flex3 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-flex4 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-flex5 > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-inline > .Grid-cell {
  flex: 0 0 100%;
}

.alignHorizontal > .Grid-cell {
  display: flex;
  justify-content: center;
}

.alignVertical > .Grid-cell {
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .Grid--cols-1 > .Grid-cell {
    flex: 0 0 100%;
  }
  .Grid--cols-2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-3 > .Grid-cell {
    flex: 0 0 33.33%;
  }
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 25%;
  }
  .Grid--cols-5 > .Grid-cell {
    flex: 0 0 20%;
  }
  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 16.66%;
  }
  .Grid--cols-flex3 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 50%;
  }
  
  .Grid--gutters {
    margin-left: -4em;
  }
  .Grid--gutters .Grid-cell {
    padding-left: 4em;
  }
}

@media (min-width: 1000px) {
  .Grid--cols-flex3 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .Grid--cols-flex3 > .Grid-cell {
    flex: 0 0 33.33%;
  }
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 33.3%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 33.3%;
  }
  
  .Grid--gutters {
    margin-left: -8em;
  }
  .Grid--gutters .Grid-cell {
    padding-left: 8em;
  }
}

@media (min-width: 1400px) {
  .Grid--cols-flex4 > .Grid-cell {
    flex: 0 0 25%;
  }
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (min-width: 1600px) {
  .Grid--cols-flex5 > .Grid-cell {
    flex: 0 0 20%;
  }
 
  .Grid--gutters {
    margin-left: -12em;
  }
  .Grid--gutters .Grid-cell {
    padding-left: 12em;
  }
}

.Footer-wrapper {
  position: relative;
  /*Display y Box Model*/
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  /*Color*/
  background: #E8E8E8;
}

.Footer {
  position: relative;
  /*Display y Box Model*/
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .Footer {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .Footer {
    width: 65%;
  }
}

.Footer-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://static.pexels.com/photos/327507/pexels-photo-327507.jpeg);
  background-size: cover;
  background-position: center center;
  opacity: 0.1;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition: all.5s ease;
  transition: all .5s ease;
}

[class*="Footer-content"] {
  
  position: relative;
  padding: 1.5em 0 1.5em 0;

  opacity: 1;

 
  text-align: center;
}

[class*="Footer-content"] h2 {
  
  margin-top: 0;
  margin-bottom: 5px;

  font-family: "Montserrat";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

[class*="Footer-content"] a {
  color: #000;
  text-decoration: none;
}

[class*="Footer-content"] h3 {

  position: relative;
  margin: 0;

  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 50px;
  
  overflow: hidden;
}

[class*="Footer-content"] [class*="underline"] h3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

[class*="Footer-content"] .underline-middle h3:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

[class*="Footer-content"] .underline-middle h3:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[class*="Footer-content"] .underline-left h3:after {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

[class*="Footer-content"] .underline-left h3:hover:after {
  visibility: visible;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}


.Footer-mobile-line {

  position: absolute;
  left: 30%;
  bottom: 0;
  transform: translateZ(0);

  
  width: 40%;
  height: 1px;
  margin: 0;
  padding: 0;

  
  background: black;
}

/*Tablet, Laptops, Desktops*/
@media (min-width: 800px) {
  [class*="Footer-mobile"] {
    visibility: hidden;
  }
  [class*="Footer-content"] {
    padding: 0 2em 0 2em;
  }
  .Footer-content-2 {
   
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
  }
  .Footer-content-3 {

    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
}

.getintouchcontent {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #000;
}

.getintouchcontent a {
  color: #000;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}


.fa-facebook, .fa-instagram {
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.icon-container {
  display: inline-block;
  height: auto;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.icon-container:hover {
  background-color: #000;
}

.icon-container:hover a {
  color: #fff;
}



.contenedor{ 
    width:100%;
    margin: auto;
    }

img{
    width: 50%;
}


.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


.carousel-caption {
  position:absolute;
  bottom:20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);


}


.carousel-inner img {
    width: 200px;
    max-height: 360px;
}

.carousel-inner{
 height: 360px;
}


.active {
  display:block;
  
}


    /* Para un comportamiento responsive */
    .carousel-inner img {
    width: 100%;
    height: 100%;
    }
  


 .mapa{
  margin-left: 2em;
 }

 .promoJusta {
   margin-left:2em;
 }

 p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
  font-family: 'Roboto';
 }

 .texto{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: 5em;
  text-align:justify;
 }

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.promos {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.servicios .col-lg-4 {
    margin-bottom: 5rem;
    text-align: center;
}

.boton {
  
     border-radius: 5px;
     padding: 10px 7px;
     text-decoration: none;
     color: #fff;
     background-color: #FF00B6;
     margin: 200px;
     float: center;
}

.boton:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-whatsapp {
        display:block;
        width:70px;
        height:70px;
        color:#fff;
        position: fixed;
        right:20px;
        bottom:20px;
        border-radius:50%;
        line-height:80px;
        text-align:center;
        z-index:999;
}

*{box-sizing:border-box;}

.row {
  margin-left: -100px;
  margin-right: -450px;
  flex-wrap: wrap;
  display: flex;

}


  
.titulo {

  text-align: center;
 /* text-decoration: underline pink;*/
  font-size: 50px;
  margin-left:2em;
  font-family: 'Source Code Pro', monospace;

}

@keyframes animacion {
  /*Inicio de animacion*/
  10%{ color:black; top:0px;}
  /*Mitad de la animacion*/
  50%{ color:pink; top:-20px;}
  /*Final*/
  100%{color:black;top:0px;}
}

h1{
  /* RELATIVE para manipular el elemento */
  position: relative;
  /* Nombre de la animación */
  animation-name: animacion;
  /* Cuánto dura la animación */
  animation-duration: 5s;
  /* Cuántas veces se realiza la animación */
  animation-iteration-count: infinite;
  /* Indicando la velocidad de la animación */
  animation-timing-function: ease-in;
  }



.mapa{
  margin-left:20em;
  text-align: center;
}

.parrafo{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: 2em;
  font-weight: normal;
}

.contactoEstilo{
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}